:root {
  --orange: #f37320;
  --white: #faf0e6;
  --green: #09c372;
  --red: #ff3860;
  --grey: #6f6f6f;
  --black: #0000;
  --blue: #026ae3;
}

* {
  margin: 0px;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* first logo section */

.centered {
  position: relative;
  background-color: var(--orange);
  height: 47px;
}

.logo {
  margin-top: 7px;
  margin-left: 31px;
  width: 27px;
  height: 28px;
}

.Grid {
  position: absolute;
  margin-top: 11px;
  bottom: 12px;
  left: 71px;
  font: normal normal 14px/15px Source Sans Pro;
  height: 20px;
  color: var(--white);
}

/* second background image section */
.section {
  position: relative;
}

/* .bg_image_part {
  position: relative;
} */

.bg_image {
  left: 0px;
  width: 100%;
  height: 730px;
  object-fit: cover;
}

.gridServices_underline {
  position: absolute;
  top: 197px;
  left: 10%;
  font-size: 93px;
  color: var(--white);
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  width: fit-content;
}

.line_intake {
  position: absolute;
  top: 345px;
  left: 10%;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white);
}

/* Sign-In page design */

#form {
  padding: 60px;
  position: absolute;
  top: 70px;
  background-color: white;
  left: 55%;
}

#form h1 {
  color: var(--grey);
  text-align: center;
}

#form button {
  width: 100%;
  height: 48px;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 25px;
}

.input-control input {
  position: relative;
  border: 2px solid var(--white);
  border-radius: 4px;
  width: 100%;
  right: 29px;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: var(--green);
}

.input-control.error input {
  border-color: var(--red);
}

.input-control .error {
  color: var(--red);
  font-size: 9px;
  height: 13px;
}

.label_part {
  position: relative;
  margin-left: 2px;
  top: 25px;
}

.container {
  position: absolute;
  top: 15.33%;
  left: 60%;
  width: 433px;
  height: 501px;
  max-width: 433px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px var(--black);
  border-radius: var(--border-radius);
  background: white;
}

.container,
.form__input,
.form__button {
  font-size: 14px;
}

.enlighten {
  margin-top: 27.5px;
  margin-left: 29px;
  width: 373px;
  text-align: center;
  font: normal normal normal 14px/20px Roboto;
  color: #4a4a4a;
}

.form__input {
  padding-left: 10px;
  margin-top: 44px;
  height: 43px;
  width: 375px;
  margin-left: 27px;
}

.link {
  position: relative;
  margin-top: 30px;
  margin-left: 5px;
}

.link a {
  text-decoration: none;
}

.link a:hover {
  color: var(--blue);
}
.form__links {
  position: absolute;
  left: 65%;
}

.form__button {
  position: absolute;
  width: 229px;
  height: 48px;
  background: var(--orange) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border-style: none;
  margin-left: 20%;
  bottom: 10%;
  color: var(--white);
  font-size: 17px;
  text-transform: uppercase;
}

/* Footer part of the website */
.footer_part {
  position: relative;
  height: 47px;
}

.logo_enphase {
  margin-top: 15px;
  margin-left: 41px;
  height: 28px;
}

.copyright {
  position: absolute;
  top: 21px;
  margin-left: 192px;
  font: normal normal normal 14px/16px Helvetica Neue;
}

.copyright a:hover {
  color: var(--blue);
}
